#
# This is an example FreeWPC config file.
# If you don't already have a .config, you can rename this one
# and change anything you don't like.
#

# If you want to simulate, define CONFIG_SIM.  This builds a
# program you can run on your build system instead of a ROM.
# You should also choose a UI for how the system will be displayed;
# we recommended 'curses', but there is also 'console'.
#CONFIG_SIM := y
#CONFIG_UI := curses
#CONFIG_UI := console

# Set the machine you are trying to build.
# If you are primarily working with a single machine type, it is
# easier to specify it here than saying MACHINE=xxx every time you run
# make.
#MACHINE := tz
#MACHINE := afm
#MACHINE := wcs
#MACHINE := t2
#MACHINE := fh
#MACHINE := tester
#MACHINE := tzsound
#MACHINE := tspp
#MACHINE := afm
#MACHINE := tom
#MACHINE := bop
#MACHINE := corvette

#
# Set this to the directory in which MAME roms should be installed.
# If you don't have MAME, then you can leave this undefined.
#
# Under Cygwin use something like the following.  make has trouble
# with filenames that have spaces or colons in them.
#TARGET_ROMPATH := "/cygdrive/c/Progra~1/VPinmame/roms"

#
# Set FREEWPC_DEBUGGER if you want to enable printf() statements throughout
# the code.  This will be written to the serial/parallel port.
#
#FREEWPC_DEBUGGER := y

#
# Enable CONFIG_BPT if you want to enable breakpoints.  You can press
# Escape anytime and the non-interrupt driven part of the system will
# pause, and you can inspect memory addresses.
#
#CONFIG_BPT := y


#
# Set if you wish to override the major/minor version numbers
# to be used.  SYSTEM refers to the core code, MACHINE to the
# game rev.
#
#SYSTEM_MAJOR=
#SYSTEM_MINOR=
#MACHINE_MAJOR=
#MACHINE_MINOR=

# Set to the version of gcc6809 installed.
# The 4.3.x releases are recommended, although 4.2.x releases
# should still work.
#GCC_VERSION := 4.2.3
GCC_VERSION := 4.3.4

# If you have special flags to pass to the compiler, define them here.
#EXTRA_CFLAGS += -save-temps
#EXTRA_CFLAGS += -DCONFIG_DEBUG_STACK
#EXTRA_CFLAGS += -DCONFIG_PARALLEL_DEBUG
#EXTRA_CFLAGS += -DFREE_ONLY

# For debugging the compiler itself.
#DEBUG_COMPILER := y

# vim: set filetype=make:
