#
# This is an example user.make file.
# If you don't already have a user.make, you can rename this one
# and change anything you don't like.
#

# Set the platform you are trying to build.
#PLATFORM := wpc
#PLATFORM := whitestar

# If you want to simulate, enable NATIVE.
#NATIVE := y

# Set the machine you are trying to build.
# If you are primarily working with a single machine type, it is
# easier to specify it here than saying MACHINE=xxx every time you run
# make.
#MACHINE := tz
#MACHINE := afm
#MACHINE := wcs
#MACHINE := t2
#MACHINE := tester

#
# Set this to the directory in which mame roms should be installed.
#
# Under Cygwin use something like the following.  make has trouble
# with filenames that have spaces or colons in them.
#TARGET_ROMPATH := "/cygdrive/c/Progra~1/VPinmame/roms"

#
# Set to 'y' if you wish to use the FreeWPC console debugger.
#
#FREEWPC_DEBUGGER := n

#
# Set if you wish to override the major/minor version numbers
# to be used.  SYSTEM refers to the core code, MACHINE to the
# game rev.
#
#SYSTEM_MAJOR=
#SYSTEM_MINOR=
#MACHINE_MAJOR=
#MACHINE_MINOR=

#
# Set to an arbitrary string to be included in the final binary
# for identification purposes.  It will show up in the initial
# splash screen.
#
#USER_TAG = "MY TAG"

# Set to the version of gcc6809 installed.
# The 4.2.x releases are recommended, although 3.4.x releases
# should still work.
#GCC_VERSION := 3.4.6
#GCC_VERSION := 4.2.0
#GCC_VERSION := 4.2.1
GCC_VERSION := 4.2.2
#GCC_VERSION := 4.3.0

# Uncomment if you want to build a FREE ONLY ROM.
#FREE_ONLY := y

# If you have special flags to pass to the compiler, define them here.
#EXTRA_CFLAGS := ...

# For debugging the compiler itself.
#DEBUG_COMPILER := y

# vim: set filetype=make:
